# Project exclude paths
/braille/brailledisplay/build/
/braille/brailleime/build/
/braille/brailleimeanalytics/build/
/braille/common/build/
/braille/interfaces/build/
/braille/translate/build/
/compositor/build/
/proguard/build/
/talkback/build/
/uiunderstanding/build/
/utils/build/

.git/
.idea/
.tmp/
.gradle/
gradle/
wrapper/
native/
jdks/
daemon/
caches/

local.properties
gradlew
gradlew.bat
android.lock